/* Estilo general del cuerpo */
body {
    margin: 0; // Eliminar márgenes predeterminados
    padding: 0; // Eliminar padding predeterminado
    min-height: 100vh; // Asegurar que la altura mínima sea la de la ventana
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif; // Fuente del texto
    flex-direction: column; // Dirección de los elementos flexibles
    background-color: #40c7f7; // Color de fondo
}

/* Header */
header {
    position: fixed; // Fijar el header en la parte superior
    display: flex; // Usar flexbox para el layout
    flex-direction: row; // Disposición en fila
    top: 5%; // Espaciado desde la parte superior
    justify-content: space-around; // Distribuir espacio equitativamente
}

/* Nav y elementos relacionados */
body, nav, #links {
    display: flex; // Usar flexbox para el layout
    justify-content: center; // Centrar horizontalmente
    align-items: center; // Centrar verticalmente
}

nav {
    position: relative; // Posicionamiento relativo
    background-color: #fff; // Color de fondo blanco
    padding: 20px; // Padding interno
    transition: 0.5s; // Transición suave para cambios
    border-radius: 50px; // Bordes redondeados
    overflow: hidden; // Ocultar desbordamientos
    box-shadow: 0 8px 15px rgba(0, 0, 0, .2); // Sombra del cuadro
}

#links {
    margin: 0; // Eliminar márgenes
    padding: 0; // Eliminar padding
    width: 0; // Ancho inicial cero
    overflow: hidden; // Ocultar desbordamientos
    transition: 0.5s; // Transición suave para cambios
}

nav input:checked~#links {
    width: 450px; // Ancho cuando el input está marcado
}

#links li {
    list-style: none; // Sin estilo de lista
    margin: 0 10px; // Márgenes laterales
}

#links li a {
    text-decoration: none; // Sin subrayado
    color: #666; // Color del texto
    text-transform: uppercase; // Texto en mayúsculas
    font-weight: 600; // Grosor de fuente
    transition: 0.5s; // Transición suave para cambios
}

#links li a:hover {
    color: #161919; // Color al pasar el mouse
}

nav input {
    width: 40px; // Ancho del input
    height: 40px; // Altura del input
    cursor: pointer; // Cursor de mano
    opacity: 0; // Input invisible
}

nav span {
    position: absolute; // Posicionamiento absoluto
    left: 30px; // Espaciado desde la izquierda
    width: 30px; // Ancho de la barra
    height: 4px; // Altura de la barra
    border-radius: 50px; // Bordes redondeados
    background-color: #666; // Color de la barra
    pointer-events: none; // Sin interacción del usuario
    transition: 0.5s; // Transición suave para cambios
}

nav input:checked~span {
    background-color: #f974a1; // Color de la barra cuando el input está marcado
}

nav span:nth-child(2) {
    transform: translateY(-8px); // Mover hacia arriba
}

nav input:checked~span:nth-child(2) {
    transform: translateY(0) rotate(-45deg); // Rotación al marcar el input
}

nav span:nth-child(3) {
    transform: translateY(8px); // Mover hacia abajo
}

nav input:checked~span:nth-child(3) {
    transform: translateY(0) rotate(45deg); // Rotación al marcar el input
}

/* Main */
main {
    font-size: 200%; // Tamaño de fuente
    margin: 30px; // Márgenes externos
    padding: 90px 30px 30px 30px; // Padding interno
    word-wrap: break-word; // Ajuste de palabras
    flex-direction: column; // Dirección de los elementos flexibles
}

#galeria {
    display: flex; // Usar flexbox para el layout
    flex-direction: row; // Disposición en fila
    justify-content: space-around; // Distribuir espacio equitativamente
}

#autores {
    display: flex; // Usar flexbox para el layout
    flex-direction: row; // Disposición en fila
    justify-content: space-around; // Distribuir espacio equitativamente
}

#galeria img {
    width: 30%; // Ancho de la imagen
    height: 30%; // Altura de la imagen
    border-radius: 20%; // Bordes redondeados
    transition: transform 0.5s ease; // Transición suave para transformaciones
}

#galeria img:hover {
    transform: scale(1.20); // Escalar al pasar el mouse
    // filter: brightness(0.8) blur(2px); // Comentado: Ajuste de brillo y desenfoque
}

/* Footer */
footer {
    font-size: 14px; // Tamaño de fuente
    height: 15%; // Altura del footer
    line-height: 30px; // Altura de línea
    background: #AAAAAA; // Color de fondo
    text-align: center; // Alinear texto al centro
    position: relative; // Posicionamiento relativo
    bottom: 0; // Posición inferior
    left: 0; // Posición a la izquierda
    width: 100%; // Ancho completo
}
